* {
    
    background-size: cover;
    background-attachment: fixed;

    margin:2px;
    padding:2px;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(imagenes/pngtree-higher-education-cartoon-hand-drawn-book-blue-green-poster-background-image_124233.jpg);
    background-position: center;
    background-attachment: contain;
    background-size: 100vw 100vh;
    
}
a{
    text-decoration: none;
}

.padre{
    display: flex;
    flex-flow: column nowrap;

}

.header{
    background-color: rgba(252, 195, 142,.5);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 3px;
    
}
    
    .menu{
        background: rgba(0,0,0,.1);
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        height: 60px;
        align-items: center;
        border-bottom: 1px solid rgba(255,255,255,.5);
        margin: 10px 10px;
        /**position: fixed;
        width: 99%;**/
    }
    .logo{
        width: 50%;
    }
    .logo a{
        color: black;
        font-weight: bold;
        font-size: 20px;
    }
    .margen-interno{
        padding: 0 50px;
    }
    .instrucciones{
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        font-size: 85%;
        font-weight: bolder;
        padding: 20px 20px;
    }
    .nav .relleno{
        color: rgba(0,0,0,.0);
        cursor: default;

    }
    #titulo2{
        color: rgb(47, 222, 235);
        font-size: 40px;
        text-align: center;
    }
    .nav a{
        color: rgb(255, 255, 255);
        justify-content: flex-end;
        font-weight: bold;
    }
    .nav a:hover{
        color: rgb(32, 7, 80);
    }
    .titulo3{
        padding-top: 60px;
        display: flex;
        justify-content: center;

    }

    .texto-principal{
        /* background: #f07b3f; */
        height: 300px;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-weight: bold;
    }
.secciones{
    display: flex;
    flex-flow: row nowrap;
    border-radius: 3px;
    height: auto;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    margin: 10px 10px;
    
    

}
    .sect1{
        
        width: 40%;
        border-radius: 5px;
        padding: 3px 3px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        border: 10px solid rgb(225, 231, 250) ;
        box-shadow: 0px 10px 10px #888;
        align-items: center;
        background-color: #fff;
        
        
       
    }
    .imagenes-fondo{
        display: flex;
        justify-content: center;
    }
    .imagenes-fondo img{
        display: flex;
        width: max-content;
        height: 125px;
        
        
        
    }
    
    .titulos{
        display: inline-flex;
        
        
    }
    
        .sect1 h5{
            text-align: center;
        }
        .expandir{
            display: none;
            text-decoration: none;
        }
        
        .uno{
            display: flex;
            flex-flow: row nowrap;
            margin: 5px 5px;
            padding: 10px 10px;
            width: 98%;
            height: auto;
            background: rgb(0, 0, 0, .1);
            border-radius: 3px;
        }

            .contiene-img{

                width: 110px;
                height: 140px;
                border-radius: 3px;
            }

                .contiene-img img{
                    width: 100px;
                    height: 120px;
                    
                }

    .sect2{
        
        width: 40%;
        border-radius: 5px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        border: 10px solid rgb(192, 231, 209);
        box-shadow: 0px 10px 10px #888;
        justify-content: center;
        align-items: center;
        background-color: #fff;

    }
        .sect2 h5{
            text-align: center;
        }
        .dos{
            display: flex;
            flex-flow: row nowrap;
            margin: 5px 5px;
            padding: 15px 15px;
            width: 98%;
            height: auto;
            background: rgb(0, 0, 0, .1);
            border-radius: 3px;
        }

    
    .sect3{
        
        width: 20%;
        border-radius: 5px;
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        border: 10px solid rgb(243, 183, 183);
        box-shadow: 0px 10px 10px #888;
    }
        .sect3 h5{
            text-align: center;
        }
        .tres{
            display: flex;
            flex-flow: column;
            align-items: center;
            margin: 5px 5px;
            padding: 10px 10px;
            width: 96.5%;
            height: auto;
            background: rgb(0, 0, 0, .1);
            border-radius: 3px;
        }
        .tres p{
            text-align: center;
        }

.pie{
    width: 100%;
    background: black;
    height: max-content;
    border-radius: 3px;
    display: flex;
    align-self: end;
    text-align: center;
    justify-content: center;
    

}

.pie h3{
    color: white;
}

input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}

input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00b8eb;
}


.MegaLogin {
    background-image: url();
    background-size: cover;
    background-attachment: fixed;
}